body {
    background-color: green;
    border-right: 7px solid aquamarine;
    border-left: 7px solid aquamarine;
    border-top: 15px solid aquamarine;
    margin: 0;
}
header {
    width: 100%;
    border-bottom: 15px solid aquamarine;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 35px;
    margin: 3px;
    color: white;
    font-style: italic;
    text-align: center;
}
h5 {
    color: yellow;
    font-size: 17px;
    text-align: left;
}
h4 {
    color: yellow;
    font-size: 17px;
    text-align: center;
}
.box {
    width: 33%;
    border: 2px solid darkgreen;
    float: left;
    height: 450px;
    text-align: center;
}
.box img {
    border: 20px solid yellow;
    width: 60%;
    margin-top: 15px;
}
.box img:hover {
    border: 20px solid red;
}

.container {
    width: 66.2%;
    float: left;
    border: 2px solid darkgreen;
    margin: 0;
    padding: 0;
    height: 450px;
    text-align:center;
}
#t01 {
    background-color: ivory;
    font-style: italic;
    color: darkgreen;
    margin: 0 auto;
    font-size: 20px;
}
td {
    border: 2px solid darkgreen;
}
th {
    border-style: none;
    color: darkgreen;
}
.bl {
    color: black;
}

body {
    background-color: green;
    border-right: 7px solid aquamarine;
    border-left: 7px solid aquamarine;
    border-top: 15px solid aquamarine;
    margin: 0;
}
header {
    width: 100%;
    border-bottom: 15px solid aquamarine;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 35px;
    margin: 3px;
    color: white;
    font-style: italic;
    text-align: center;
}
h5 {
    color: yellow;
    font-size: 17px;
    text-align: left;
}
h4 {
    color: yellow;
    font-size: 17px;
    text-align: center;
}
.box {
    width: 33%;
    border: 2px solid darkgreen;
    float: left;
    height: 450px;
    text-align: center;
}
.box img {
    border: 20px solid yellow;
    width: 60%;
    margin-top: 15px;
}
.box img:hover {
    border: 20px solid red;
}

.container {
    width: 66.2%;
    float: left;
    border: 2px solid darkgreen;
    margin: 0;
    padding: 0;
    height: 450px;
    text-align:center;
}
#t01 {
    background-color: ivory;
    font-style: italic;
    color: darkgreen;
    margin: 0 auto;
    font-size: 20px;
}
td {
    border: 2px solid darkgreen;
}
th {
    border-style: none;
    color: darkgreen;
}
.bl {
    color: black;
}